# Ignore node_modules and dependencies
node_modules/
package-lock.json

# Ignore logs
logs/
*.log

# Ignore environment variables
.env
.env.local

# Ignore build output
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor configurations
.vscode/
.idea/
*.iml
*.suo
*.swp
