# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sanity
/sanity/dist

# Large files
*.node
*.dylib
**/esbuild

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Next.js specific
.next/server/chunks/ssr/**/*.js.map
.next/static/chunks/**/*.js.map
next-server/server.runtime.prod.js.map

# Lock files
package-lock.json
# yarn.lock (uncomment this line if you switch to npm in the future)